<div class="body">
    <img class="logo mb-4" src="/logoTitle.png" alt="Fi-Rep Logo" width="250" height="250">
    <h1 class="welcomeTitle display-5 fw-bold">Welcome to Fi-Rep</h1>
    <p class="lead mb-4">A safe and confidential platform for reporting financial crimes. Your privacy and voice matter. Report concerns with confidence to help protect our workplace integrity.</p>
    <div class="button-container">
        <button type="button" routerLink="/create-report" class="btn-navigate welcomeBtn1 btn btn-lg">Report Now</button>
        <button type="button" routerLink="/admin-home" class="welcomeBtn2 btn btn-outline-secondary btn-lg">Admin Login</button>
    </div>
</div>
